@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
* {
  font-weight: 300;
  box-sizing: border-box;
}
.Backbone {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #10141e;
  overflow-x: hidden;
}
